@{
    ViewBag.Title = "Contact";
}
<h3><p class="text-primary">@ViewBag.Message</p></h3>
<p class="text-warning">
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</p>

<address>
    <strong><p class="text-warning">Support :</p></strong>   <a href="https://support.microsoft.com/contactus">https://support.microsoft.com/contactus</a><br />
</address>