@{
    ViewBag.Title = "Home Page";
}

<div class='box'></div>
<div id="xcentered">

<img src="https://nebe.blob.core.windows.net/gears/9813fff0-f375-4f67-8eba-5b5643939893.png" alt="GEARS2022"/></a>
</div>
