<?xml version="1.0" encoding="utf-8"?>
<!--
  This looks like a broken web.config file
  It also looks like you're here reading the right thing very close to solving the problem :)
  
  Maybe revert to an *.old backup version from
  https://github.com/stegag/app-service-web-dotnet-get-started/tree/master/aspnet-get-started ?
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5.2" />
		<customErrors mode="Off" />
	</system.web>
</configuration>
